---
interface Props {
  heading?: string;
}
const EMBED_SRC = 'https://hyppohq.io/api/v1/forms/embed/absolute-supply/contact-absolute-kitchen-and-bath';
const PUBLIC_URL = 'https://hyppohq.io/f/absolute-supply/contact-absolute-kitchen-and-bath?theme=light';
---
<div data-hyppo-form-host>
  <noscript>
    <p class="text-sm normal-case">
      To use our contact form, please enable JavaScript or
      <a href={PUBLIC_URL} class="text-brand-red font-semibold underline">open the form in a new tab</a>.
    </p>
  </noscript>
</div>

<script is:inline src={EMBED_SRC} async></script>
